<!DOCTYPE html>
<head><title>SASTRA LIBRARY</title>
<style>
    #back{
        background-color: skyblue ;
        text-align: center;
        background-repeat: no-repeat;
  
        
    }
</style>

</head>

<body id='back'>
    <div class="jumbotron">





        <img src="https://2019.igem.org/wiki/images/archive/0/07/20191020092618%21T--SASTRA_Thanjavur--SASTRALogo.png"> 
        <h1 class="display-4">WELCOME TO SASTRA LIBRARY</h1>
        <p class="lead">Hello Staff Member. Welcome to SASTRA LIBRARY.</p>
        <hr class="my-4">
        <p>If you already have an account, Please Login In .</p>
        <a href="adminlogin" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">LOGIN</a>
        <p>If are a new staff member , Please Sign Up.</p>
        <a href="adminregister" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">SIGN UP</a>
      
    </div>

</body>
</html>
{% include 'footer.html' %}